# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Local runtime data
instance/
*.db
*.sqlite3

# Logs and temp
*.log
*.tmp

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
